# This files contains required params for .env

# Database
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Backend
KTOR_PORT=

# JWT
JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_EXPIRATION_MS=

# Railway (set automatically by Railway [do not set locally!!!] )
# PORT=

# Railway deployment
# (for manual deploys via script)
RAILWAY_TOKEN=
RAILWAY_STAGING_SERVICE_ID=
RAILWAY_STAGING_ENVIRONMENT_ID=