# Secrets
.env

# Gradle
.gradle/
build/
**/build/
**/.gradle/

# IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr

# Android
local.properties
*.apk
*.aab
*.ap_

# Logs
*.log

# OS
.DS_Store
Thumbs.db